.form_search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin: 1.2rem 0;
}

.selected_info {
  font-weight: 600;
  font-size: 1.25rem;
  background: linear-gradient(0deg, rgb(253, 253, 253) 0%, rgba(212, 209, 214, 0.5) 100%);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow: 0 7px 20px 5px #00000088;
}

.vertical_divider {
  width: 0.2rem;
  height: 1.5rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #00000088;
  margin: 0.2rem;
}

button,
input,
a {
  border: none;
  background: none;
}

.btn_href {
  padding: 0.5rem;
  width: 8rem;
  border-radius: 0.5rem;
  border: none;
  background: #fff;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0 7px 20px 5px #e60073;
  transition: transform 0.3s;
}

.btn_href:hover {
  background: #e60073;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 7px 20px 5px rgb(14, 116, 144);
  transform: scale(1.1);
}

.btn_href:focus {
  outline: none;
}

input {
  border-radius: 0.5rem;
  border: none;
  background: linear-gradient(0deg, rgb(180, 177, 177) 0%, rgba(217, 213, 221, 0.5) 100%);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  box-shadow: 0 7px 20px 5px #00000088;
}


img {
  transition: transform 0.2s;
  height: 300px;
  width: auto;
  position: relative;
}

img:hover {
  transform: scale(1.1);
}

.img_container {
  margin-top: 1.85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.71rem;
}

.img_container a {
  text-decoration: none;
  color: #121212;
  padding: 0.5rem 1rem;
  background: white;
  border: 5px solid #000;
  box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
  position: relative;
  transition: transform 0.2s;
}

.img_container a:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.71rem;
}

